<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WeatherAppTestSuite" verbose="1" parallel="tests" thread-count="2"
       configfailurepolicy="continue">
    <listeners>
        <listener class-name="report.SuiteListener"></listener>
    </listeners>    
    <test name="MVPWeatherTest">
        <classes>
            <class name="runners.MVPWeatherRunner"/>
        </classes>
    </test>   
    <test name="OpenWeatherMapTest">
        <classes>
            <class name="runners.OpenWeatherMapRunner"/>
        </classes>
    </test>

</suite>